.Header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    margin: auto;
    width: 20%;
    padding: 1em;
}